<div class="row">
  <div class="column map-column">
    <router-outlet></router-outlet>
  </div>
  <div class="column details-column">
    <ul>
      <li><strong>Country:</strong> <span> {{ country.name }} </span></li>
      <li><strong>Capital:</strong><span> {{ country.capital }}</span></li>
      <li><strong>Region:</strong><span> {{ country.region }}</span></li>
      <li><strong>Income Level:</strong><span> {{ country.incomeLevel }}</span></li>
      <li><strong>Longitude:</strong><span> {{ country.longitude }}</span></li>
      <li><strong>Latitude:</strong><span> {{ country.latitude }}</span></li>
    </ul>
  </div>
</div>
