<div class="row">
  <div class="column map-column">
    <router-outlet></router-outlet>
  </div>
  <div class="column details-column">
    <ul>
      <li><strong>Country:</strong> {{ country.name }}</li>
      <li><strong>Capital:</strong> {{ country.capital }}</li>
      <li><strong>Region:</strong> {{ country.region }}</li>
      <li><strong>Income Level:</strong> {{ country.incomeLevel }}</li>
      <li><strong>Longitude:</strong> {{ country.longitude }}</li>
      <li><strong>Latitude:</strong> {{ country.latitude }}</li>
    </ul>
  </div>
</div>

